.App {
  text-align: center;
  color: navy;
}

body {
  background-image: url('https://tb-static.uber.com/prod/image-proc/processed_images/5d92cbb05d1eb18c213d9587a23c323c/9ba9ffab5f885fc3dac87838b3357014.webp') ;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  max-width: 10vw;
  max-height: 10vh;
}

button {
  margin: 1%;
}
